*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  height: 350px;
  width: 300px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.512);
  box-shadow: inset 0 0 190px rgb(83, 0, 0);
}
h1{
  font-family: monospace;
  color: white;
  font-size: 3rem;
  text-shadow: 5px 5px 5px rgb(149, 5, 0);
}