*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
html{
  font-family: monospace;
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@property --rotate{
  syntax: "<angle>";
  initial-value:0deg;
  inherits: false;
}
@keyframes borderAnimate{
 from{
  --rotate: 0deg;
 } 
 to{
  --rotate : 360deg;
 }
}
.box{
  display: flex;
  flex-direction: column;
  gap:10px;
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  
  border-radius: 15px;
  background:
  linear-gradient(rgb(0, 0, 0)) padding-box,
  conic-gradient(from var(--rotate),rgb(0, 0, 0),rgb(255, 0, 123),rgb(0, 0, 0)) border-box;
  border: 5px solid rgba(255, 255, 255, 0);
  
  animation:borderAnimate  6s;
  animation-iteration-count: infinite;
}

.box img{
  width: 100%;
  
}







